<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="Portfolio of Rashmi Raj. A M. Tech Student in CSE at IIT Patna."
    />
    <meta
      name="description"
      content="Rashmi Raj is a software engineer, dreamer, and explorer."
    />
    <meta name="google" content="notranslate" />
    <title>Rashmi Raj | Persuing MTech at IIT Patna in CSE!</title>

    <!-- Favicon -->
    <link rel="shortcut icon" href="/img/logo_1.png" type="image/x-icon" />

    <!-- Primary Meta Tags -->
    <meta name="title" content="Rashmi Raj" />
    <meta name="author" content="Rashmi Raj" />

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta
      property="og:url"
      content="https://rashmiraj513.github.io/portfolio/"
    />
    <meta property="og:title" content="Rashmi Raj" />
    <meta property="og:title" content="Rashmi Raj" />
    <meta
      property="og:description"
      content="Rashmi Raj is a software engineer, dreamer, and explorer."
    />
    <meta
      property="og:image"
      content="https://rashmiraj513.github.io/portfolio/img/rashmi.webp"
    />

    <!-- CSS Files -->
    <link rel="stylesheet" href="/css/reset.css" />
    <link rel="stylesheet" href="/css/styles.css" />

    <!-- Font Awesome -->
    <script
      src="https://kit.fontawesome.com/520c6b9ca5.js"
      crossorigin="anonymous"
    ></script>
  </head>

  <body>
    <header id="header" class="m-2">
      <nav class="navbar">
        <div class="container">
          <ul class="sidebar" id="hidden-logo">
            <li onclick="hideSidebar()">
              <a href="#">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  height="36"
                  viewBox="0 96 960 960"
                  width="36"
                >
                  <path
                    d="m249 849-42-42 231-231-231-231 42-42 231 231 231-231 42 42-231 231 231 231-42 42-231-231-231 231Z"
                  />
                </svg>
              </a>
            </li>
            <li><a href="/">00 : About</a></li>
            <li><a href="/experiences">01 : Experiences</a></li>
            <li><a href="/work">02 : Work</a></li>
            <li><a href="/about">03 : S&A</a></li>
            <li><a href="/contact">04 : Contact</a></li>
          </ul>
          <ul id="logo">
            <li class="hideOnMobile"><a href="/">00 : About</a></li>
            <li class="hideOnMobile">
              <a href="/experiences">01 : Experiences</a>
            </li>
            <li class="hideOnMobile"><a href="/work">02 : Work</a></li>
            <li class="hideOnMobile"><a href="/about">03 : S&A</a></li>
            <li class="hideOnMobile"><a href="/contact">04 : Contact</a></li>
            <li class="menu-button" onclick="showSidebar()">
              <a href="#">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  height="36"
                  viewBox="0 96 960 960"
                  width="36"
                >
                  <path
                    d="M120 816v-60h720v60H120Zm0-210v-60h720v60H120Zm0-210v-60h720v60H120Z"
                  />
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </nav>
    </header>
  </body>
</html>
