<%- include("partials/header") %>
<section id="about" class="m-2">
  <div class="about-section">
    <div class="about-heading">
      <h3 class="display-heading center">00 : About</h3>
      <h3 class="display-1">
        Hello, I am <span class="cursive-writing">Rashmi Raj</span>.
      </h3>
    </div>
    <div class="about-body">
      <p class="display-2">I'm a student, dreamer, and explorer.</p>
      <p class="display-2">
        Currently, I'm chasing MTech in CSE at
        <a href="https://www.iitp.ac.in/">IIT Patna</a>.
      </p>
      <p class="display-2">
        I love thinking about random situations, building stuff, and working on
        challenging problems.
      </p>
      <p class="display-2">
        When I'm not coding, I keep myself busy with watching Sci-Fi Movies,
        reading Comic Books, and playing Badminton.
      </p>
    </div>
  </div>
</section>
<%- include("partials/footer") %>
