<%- include("partials/header") %>
<section id="contact" class="contact">
  <div class="container">
    <h3 class="display-heading center">04 : Contact</h3>
    <div class="row">
      <div class="contact-item">
        <i class="fab fa-github icons center"></i>
        <h5 class="center display-2">
          <a href="https://github.com/rashmiraj513/">github.com/rashmiraj513</a>
        </h5>
      </div>
      <div class="contact-item">
        <i class="fab fa-linkedin-in icons center"></i>
        <h5 class="center display-2">
          <a href="https://www.linkedin.com/in/rashmi-raj-62b6761b7/"
            >Rashmi Raj</a
          >
        </h5>
      </div>
    </div>
    <br />
    <div class="row">
      <div class="contact-item">
        <i class="fas fa-phone-volume icons center"></i>
        <h5 style="color: red" class="center display-2">
          Currently Not Available.
        </h5>
      </div>
      <div class="contact-item">
        <i class="fas fa-envelope icons center"></i>
        <h5 class="center display-2">
          <a href="mailto:rashmiraj7877@gmail.com">rashmiraj7877@gmail.com</a>
        </h5>
      </div>
    </div>
  </div>
</section>
<p class="center" id="footer-copyright">
  &#169;
  <script>
    document.write(new Date().getFullYear());
  </script>
  | Rashmi Raj
</p>
<%- include("partials/footer") %>
