<%- include("partials/header") %>
<section id="experiences" class="m-2">
  <div class="container">
    <h3 class="display-heading center">01 : Experiences</h3>
    <div id="timeline">
      <ul>
        <li style="--accent-color: #41516c">
          <div class="date">Aug 2022 - Nov 2022</div>
          <div class="title">Intern at Nagarro</div>
          <div class="descr">
            As an intern at Nagarro, I dived into basics of web development,
            Angular, NodeJS, and DotNet development!
          </div>
        </li>
        <li style="--accent-color: #fbca3e">
          <div class="date">Dec 2022 - July 2023</div>
          <div class="title">Associate Engineer at Nagarro</div>
          <div class="descr">
            Led cross-functional collaboration for a 15% performance boost in
            system usability; showcased expertise by integrating packages, APIs,
            and UI components while upgrading NodeJS and Angular versions.
          </div>
        </li>
        <li style="--accent-color: #e24a68">
          <div class="date">June 2024 - May 2025</div>
          <div class="title">Intern at Intel</div>
          <div class="descr">
            Enhanced front-end of an internal GenAI tool using React, ensuring
            seamless integration with back-end APIs; expanding to full-stack
            development by learning Docker, PostgreSQL, and FastAPI.
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
<%- include("partials/footer") %>
