<%- include("partials/header") %>
<section id="skills" class="m-2">
  <div class="about-section">
    <h3 class="display-heading center">03 : Skills & Academics</h3>
  </div>
  <div class="skills-section">
    <h3 class="display-0">Skills</h3>
    <div class="skill-item">
      <div class="iconholder">
        <!-- <div class="c"><abbr title="C"><i class="fab fa-cuttlefish"></i></abbr></div> -->
        <!-- <div class="cpp">
					<abbr title="C++">
						<i class="fab fa-cuttlefish"></i>
						<i class="fas fa-plus"></i>
						<i class="fas fa-plus"></i>
					</abbr>
				</div> -->
        <!-- <div class="python"><abbr title="Python"><i class="fab fa-python"></i></abbr></div> -->
        <div class="html">
          <abbr title="HTML5"><i class="fab fa-html5"></i></abbr>
        </div>
        <div class="css">
          <abbr title="CSS3"><i class="fab fa-css3"></i></abbr>
        </div>
        <div class="js">
          <abbr title="JavaScript"><i class="fab fa-js-square"></i></abbr>
        </div>
        <div class="git">
          <abbr title="Git"><i class="fas fa-code-branch"></i></abbr>
        </div>
      </div>
      <br /><br />
      <div class="iconholder">
        <!-- <div class="git"><abbr title="Git"><i class="fas fa-code-branch"></i></abbr></div> -->
        <!-- <div class="ml"><abbr title="Machine Learning"><span style="font-weight: bolder;">ML</span></abbr></div> -->
        <!-- <div class="webdev"><abbr title="Web Development"><i class="fas fa-code"></i></abbr></div> -->
        <div class="node">
          <abbr title="Node JS"><i class="fab fa-node fa-2x"></i></abbr>
        </div>
        <div class="express">
          <abbr title="Express"><i class="fas fa-server"></i></abbr>
        </div>
        <div class="react">
          <abbr title="React"><i class="fab fa-react"></i></abbr>
        </div>
        <!-- <div class="angular"><abbr title="Angular"><i class="fab fa-angular"></i></abbr></div> -->
        <div class="database">
          <abbr title="Database"><i class="fas fa-database"></i></abbr>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="academics" class="academics m-2">
  <div class="container">
    <h3 class="academics-heading display-0">Academics</h3>
    <div id="timeline">
      <ul>
        <li style="--accent-color: #41516c">
          <div class="date">2014 - 2015</div>
          <div class="degree">Higher Secondary</div>
          <div class="school">
            Upgraded High School Lodipur, Sheikhpura, Bihar.
          </div>
        </li>
        <li style="--accent-color: #fbca3e">
          <div class="date">2015 - 2017</div>
          <div class="degree">Senior Secondary</div>
          <div class="school">
            Rajeshwar Lal College, Alinagar, Nalanda, Bihar.
          </div>
        </li>
        <li style="--accent-color: #e24a68">
          <div class="date">2018 - 2022</div>
          <div class="degree">Bachelors in Computer Science & Engineering</div>
          <div class="school">
            Beant College of Engineering & Technology, Gurdaspur, Punjab.
          </div>
        </li>
        <li style="--accent-color: #1b5f8c">
          <div class="date">2023 - Present</div>
          <div class="degree">Masters in Computer Science & Engineering</div>
          <div class="school">
            Indian Institute of Technology, Patna, Bihar.
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
<%- include("partials/footer") %>
