<%- include("partials/header") %>
<section id="work" class="m-20">
	<h3 class="display-heading center">02 : Work</h3>
	<div class="work-item">
			<h2 class="work-item-heading">Malware Detection using ML</h2>
			<h4 class="work-item-title">A Working Machine Learning model for malware detection</h4>
			<p class="work-item-detail">A Machine Learning model for Malware Detection, built using <a href="https://scikit-learn.org/">scikit-learn</a>. This model uses various ML algorithms like Simple KNN, Random Forest, Decision Tree, XGBoost and finally selects the best model among these algorithms according to the training accuracy.</p>
			<a href="https://github.com/rashmiraj513/Malware_Detection_Using_ML" target="_blank">
				<button class="work-item-button">
					<i class="fab fa-github github-button" aria-hidden="true"></i>
					<span class="p-left-6">View on GitHub</span>
				</button>
			</a>
		</div><br>
		<div class="work-item">
			<h2 class="work-item-heading">NoteTaker Full Stack Website</h2>
			<h4 class="work-item-title">A Full Stack Website for Note Taking</h4>
			<p class="work-item-detail">A full-stack website created for note taking purposes. For front-end, HTML, CSS, and JS is used and for back-end, Express and NodeJS is used. For storing the notes, MongoDB is used. Also have advance features like searching a note using Title or, Body content or, according to the date created.</p>
			<a href="https://github.com/rashmiraj513/toDoList-homepage" target="_blank">
				<button class="work-item-button">
					<i class="fab fa-github github-button" aria-hidden="true"></i>
					<span class="p-left-6">View on GitHub</span>
				</button>
			</a>
		</div><br>
		<div class="work-item">
			<h2 class="work-item-heading">Portfolio Website</h2>
			<h4 class="work-item-title">A Portfolio Website to showcase my skills to employers and collaborators</h4>
			<p class="work-item-detail">This portfolio website is created using HTML, CSS, and JavaScript for the frontend, and Node.js with Express for routing on the backend. The purpose of this website is to showcase my projects, skills, and experiences to potential employers, clients, and collaborators.</p>
			<a href="https://github.com/rashmiraj513/portfolio" target="_blank">
				<button class="work-item-button">
					<i class="fab fa-github github-button" aria-hidden="true"></i>
					<span class="p-left-6">View on GitHub</span>
				</button>
			</a>
		</div><br>
		<p class="center" id="more-projects">Looking for more of my work? Visit my <a href="https://github.com/rashmiraj513?tab=repositories" target="_blank">GitHub</a>.</p>
	</div>
</section>
<%- include("partials/footer") %>
